h3 {
    font-size: 25px !important;

}
.btn-success:hover {
    background-color: red;
}
canvas {
    animation-name: changing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes  changing {
    from {box-shadow: 1px 1px 38px green}
    to {box-shadow: 1px 1px 38px yellow}
}